<h1>Edit Specialty</h1>

<%= render 'form', specialty: @specialty %>

<%= link_to 'View Specialty', @specialty, class: 'btn btn-info' %> |
<%= link_to 'Back to Specialties', specialties_path, class: 'btn btn-secondary' %>