<h1>Edit Doctor Information</h1>

<%= render 'form', doctor: @doctor %>

<%= link_to 'View Doctor', @doctor, class: 'btn btn-info' %> |
<%= link_to 'Back to Doctors', doctors_path, class: 'btn btn-secondary' %>
